
header{
    text-align: center;
    background-color: lightgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: snow;
}

#table{
    margin-left: 50px;
    margin-right: 50px;
}

.footer{
    
    left: 50px;
    bottom: 0px;
    position: sticky; 
    background-color: lightgrey;
    border-radius: 5px;
    font-size: 20px;
    position: fixed;
}

.excessivecost{
    background-color: red;
}

